body {
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
}
#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: yellow;
    border-radius: 50%;
    transition: width 1s, height 1s, background-color 0.1s;
    display: none;
}
#crosshair.large {
    background-color: red; /* Set the color when it's large */
}